@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


// Variables

$g-sky: #4AB1F1;
$g-blue: #566CEC;
$g-pink: #D749AF;
$g-orange: #FF7C51;
$g-yellow: #F2B14D;
$g-green: #6BBBA6;

$black: #000000;
$white: #ffffff;
$lightbg: #EEE7D6;
$yellow: #F7C945;
$grey: #5F5F5F;
$blue: rgb(10, 114, 239);
$red: #CA324F;
$light-grey: #F3F3F8;

$dark-bg: #1A1A1A;


// fonts
$space-grotesk: 'Space Grotesk', sans-serif;



// fonts
$inter: 'Inter', sans-serif;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

:root {
    --emo: cubic-bezier(.4, 0, .2, 1);
    --emo-in-out: cubic-bezier(.4, 0, .2, 1);
    --emo-out: cubic-bezier(0, .2, .2, 1);
}



//Reset
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
//End Reset


a{
  text-decoration: none;
  color: $black;
}
body{
  font-family: $space-grotesk;
}

// Basic layout
.container{
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}

section{
    position: relative;
}

// Gradient
// Gradient Text
.gradient{
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  &.blue{
    background-color: $g-blue;
    background-image: linear-gradient(90deg, #FFC83A 0%, #FF008A 55%, #6100FF 100%);
  }
  &.pink{
    background-color: $g-pink;
    background-image: linear-gradient(90deg, $g-blue 0%, $g-pink 25%, $g-orange 75%, $g-yellow 100%);
  }
  &.orange{
    background-color: $g-orange;
    background-image: linear-gradient(90deg, $g-pink 0%, $g-orange 25%, $g-yellow 75%, $g-green 100%);
  }
  &.yellow{
    background-color: $g-green;
    background-image: linear-gradient(90deg, $g-orange 0%, $g-yellow 25%, $g-green 75%, $g-sky 100%);
  }
  &.nft{
    background-color: $g-green;
    background-image: linear-gradient(90deg, $g-blue 0%, $g-pink 50%, $g-orange 100%);
    font-weight: 800;
  }
}

// Gradeint end



// Background
main{
  background-image:
    url("/3d-gradient.svg"),
    url("/footer-gradient.svg");
  background-position:
    center top, /* this positions the first image */
    center bottom; /* this positions the second image */
  background-repeat:
    no-repeat; /* this applies to both images */
  background-size: 1100px auto;
}

.navbar{
  padding: 40px 16px;
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    @media (max-width: $mobile-landscape){
      flex-direction: column;
    }
    .logo{
      img{
        height: 36px;
      }
    }
    .menu{
      @media (max-width: $mobile-landscape){
        margin-top: 24px;
      }
      ul{
        display: flex;
        li{
          margin-left: 8px;
          a{
            text-decoration: none;
            color: $black;
            padding: 12px;
          }
        }
      }
    }
  }
}


.header{
  .header-wrap{
    padding: 0 16px;
    padding-top: 48px;
    text-align: center;
    @media (max-width: $mobile-landscape){
      padding-top: 24px;
    }
    h1{
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -1px;
      display: inline-block;
      padding: 12px 0;
      @media (max-width: $mobile-landscape){
        font-size: 32px;
        padding: 12px;
      }
    }
    h3{
      font-size: 16px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 0;
      text-transform: uppercase;
      a{
        font-weight: 600;
        color: $black;
        &:hover{
          opacity: .7;
        }
      }
    }

    .assets{
      margin-top: 12px;
      .p-logo{
          display: flex;
          justify-content: center;
          img{
            margin: 8px;
            height: 32px;
          }
      }
    }
  }
}




.btn-lnks{
  margin-top: 24px;
  display: flex;
  padding: 12px 0;
  justify-content: center;
  @media (max-width: $mobile-landscape){
    flex-direction: column;
  }
  .dwn-links{
      position: relative;
      display: inline-block;
      vertical-align: top;
      z-index: 12;
      text-align: center;
      margin-right: 24px;
      @media (max-width: $mobile-landscape){
        margin-bottom: 24px;
        margin-right: 0;
      }
      .btn{

      }
      .btn-download{
        @media (max-width: $mobile-landscape){
          width: 100%;
        }
      }

      .dwn-list{
        z-index: 9;
        top: 0;
        left: 0;
        position: absolute;
        background: #fff;
        border-radius: 20px;
        width: 100%;
        overflow: hidden;
        height: 0;
        opacity: 0;
        border: 1px solid $black;
        -webkit-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        >li{
          text-align: center;
          a{
            font-size: 16px;
            font-weight: 700;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            margin: 0 20px;
            padding: 16px 0;
            display: flex;

            text-decoration: none;
            vertical-align: middle;
            align-items: center;
            text-align: center;
            color: $black;
            img{
              height: 20px;
              margin-right: 6px;
            }
            &:hover{
              color: $blue;
            }
          }
          &:last-child{
            a{
              border: none;
            }
          }
        }
      }
      &:hover{
        overflow: visible;
        .dwn-list{
          overflow: visible;
          opacity: 1;
          top: calc(100%);
          height: auto;
        }
        .d-arrow{
          img{
            transform: scale(-1, -1);
          }
        }
      }
  }
}


.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px 24px;
  border-radius: 16px;
  h4{
    font-family: $space-grotesk;
    font-size: 22px;
    font-weight: 500;
  }
  span{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
  }
  &.btn-download{
    background: $black;
    border:1px solid $black;
    padding: 22px 48px;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 41px;
    z-index: 11;
    position: relative;
    h4{
      line-height: normal;
      font-weight: 600;
      color: $white;
    }
    span{
      font-size: 12px;
      margin-top: 6px;
      display: block;
      color: $white;
      opacity: .6;
    }
  }

  &.btn-outline{
    border: 1px solid $black;
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-radius: 21px;
    padding: 12px 16px!important;
    img{
      height: 16px;
      margin-left: 6px;
    }
    &:hover{
      opacity: .8;
    }
  }
  &.btn-coffee{
    background: $white;
    border:1px solid rgba(0,0,0,1);
    padding: 22px 36px;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 41px;
    z-index: 8;
    position: relative;

    @media (max-width: $mobile-landscape){
      margin-right: 0;
    }
    h4{
      line-height: normal;
      font-weight: 600;
      color: $black;
    }
    span{
      font-size: 12px;
      margin-top: 6px;
      display: block;
    }
    &:hover{

    }
  }
}

.styles-angle{
  background: rgba(248,248,252,.8);
  margin: 54px;
  border-radius: 24px;
  @media (max-width: $mobile-landscape){
    margin: 24px 0;
  }
  .s-a-wrap{
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-text{
      h2{
        font-weight: 600;
        letter-spacing: -.2px;
        line-height: normal;
        font-size: 28px;
        margin: 8px 0;
      }

    }
    .img-box{
      display: flex;
      margin-top: 16px;
      flex-wrap: wrap;
      padding: 0 32px;
      .img-style{
        width: 25%;
        @media (max-width: $mobile-landscape){
          width: 50%;
        }
        .style-wrap{
          padding: 16px;
          img{
            width: 100%;
            margin-bottom: 16px;

          }
          h4{
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 4px;
          }
        }

      }
      &.angle{
        img{
          width: 100%;
        }
      }
    }

  }
}

.all-icons{
  .icons-wrap{
    display: flex;
    flex-direction: column;
    padding: 54px;
    align-items: center;
    @media (max-width: $mobile-landscape){
      padding: 4px;
    }
    h2{
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -.5px;
      margin-bottom: 50px;
      @media (max-width: $mobile-landscape){
        padding: 12px;
        text-align: center;
        font-size: 32px;
        margin-bottom: 24px;
      }
    }
    .icons-grid{
      display: flex;
      flex-wrap: wrap;
      .icons-box{
        width: 20%;
        @media (max-width: $mobile-landscape){
          width: 50%;
        }
        .i-wrap{
          margin: 12px;
          padding: 16px;
          background: rgba(248,248,252,.8);
          border-radius: 12px;
          a{
            display: flex;
            align-items: center;
            text-align: center;
            @media (max-width: $mobile-landscape){
            }
            img{
              width: 100%;
              @media (max-width: $mobile-landscape){
                height: 75%;
              }
            }
          }
        }
      }
    }
  }
}

.footer{
  .footer-wrap{
    margin: 0 70px;
    @media (max-width: $mobile-landscape){
      margin: 0 40px;
    }
    .credit-box{
      padding: 32px 0;
      border-top: .5px solid $black;
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile-landscape){
        flex-direction: column;
      }
      .name{
        margin-bottom: 24px;
        p{
          font-size: 15px;
          font-weight: 400;
          a{
            color: $black;
            font-weight: 700;
            &:hover{
              opacity: .8;
            }
          }
        }
      }
    }
  }
}

.inaction{
  .ia-wrap{
    margin: 0 70px;
    display: flex;
    margin-bottom: 54px;
    @media (max-width: $mobile-landscape){
      margin: 0 16px;
      margin-bottom: 54px;
    }
    .request-box{
      padding: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid $light-grey;
      border-radius: 24px;
      -webkit-box-shadow: 0 24px 48px rgba(0,0,0,.10);
      -moz-box-shadow: 0 24px 48px rgba(0,0,0,.10);
      box-shadow: 0 24px 48px rgba(0,0,0,.10);
      background: $white;
      @media (max-width: $mobile-landscape){
        flex-direction: column;
        flex-direction: column-reverse;
      }
      .r-text{
        width: 60%;
        padding: 32px;
        h2{
          font-size: 44px;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -1px;
          margin-bottom: 8px;
        }
        p{
          font-size: 18px;
          line-height: 130%;
          margin-bottom: 8px;
        }
      }
      .r-img{
        width: 40%;
      }
    }
  }
}

.about{
  .about-wrap{
    margin: 0 54px;
    @media (max-width: $mobile-landscape){
      margin: 0 24px;
    }
    .about-box{
      padding: 16px;
      text-align: left;
      h3{
        font-size: 28px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 12px;
      }
      p{
        line-height: normal;
        font-weight: 300;
        font-size: 18px;
      }
    }
    .stats{
      padding: 16px;
      display: flex;
      justify-content: space-between;
      vertical-align: bottom;
      margin-top: 50px;
      @media (max-width: $mobile-landscape){
        flex-direction: column;
      }
      .soon-log{
        h4{
          font-size: 20px;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 12px;
        }
        ul{
          li{
            line-height: 150%;
            font-size: 15px;
          }
        }
      }
      .all-icons{
        text-align: right;
        display: flex;
        flex-direction: column;
        @media (max-width: $mobile-landscape){
          flex-direction: row;
          text-align: left;
        }
        .num-stat{
          margin: 12px 0;
          @media (max-width: $mobile-landscape){
            margin-right: 12px;
          }
          h3{
            font-size: 28px;
            font-weight: 600;
            line-height: normal;
          }
          span{
            line-height: normal;
          }
        }
      }
    }
  }
}
