@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


// Variables

$g-sky: #4AB1F1;
$g-blue: #566CEC;
$g-pink: #D749AF;
$g-orange: #FF7C51;
$g-yellow: #F2B14D;
$g-green: #6BBBA6;

$black: #000000;
$white: #ffffff;
$lightbg: #EEE7D6;
$yellow: #F7C945;
$grey: #5F5F5F;
$blue: rgb(10, 114, 239);
$red: #CA324F;
$light-grey: #F3F3F8;

$dark-bg: #1A1A1A;


// fonts
$space-grotesk: 'Space Grotesk', sans-serif;



// fonts
$inter: 'Inter', sans-serif;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

:root {
    --emo: cubic-bezier(.4, 0, .2, 1);
    --emo-in-out: cubic-bezier(.4, 0, .2, 1);
    --emo-out: cubic-bezier(0, .2, .2, 1);
}



//Reset
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
//End Reset


a{
  text-decoration: none;
  color: $black;
}
body{
  font-family: $space-grotesk;
}

// Basic layout
.container{
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}

section{
    position: relative;
}

// Gradient
// Gradient Text
.gradient{
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  &.blue{
    background-color: $g-blue;
    background-image: linear-gradient(90deg, #FFC83A 0%, #FF008A 55%, #6100FF 100%);
  }
  &.pink{
    background-color: $g-pink;
    background-image: linear-gradient(90deg, $g-blue 0%, $g-pink 25%, $g-orange 75%, $g-yellow 100%);
  }
  &.orange{
    background-color: $g-orange;
    background-image: linear-gradient(90deg, $g-pink 0%, $g-orange 25%, $g-yellow 75%, $g-green 100%);
  }
  &.yellow{
    background-color: $g-green;
    background-image: linear-gradient(90deg, $g-orange 0%, $g-yellow 25%, $g-green 75%, $g-sky 100%);
  }
  &.nft{
    background-color: $g-green;
    background-image: linear-gradient(90deg, $g-blue 0%, $g-pink 50%, $g-orange 100%);
    font-weight: 800;
  }
}

// Gradeint end

// Animation
@keyframes crossfadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Background
main{
  background-image:
    url("/3d-gradient.svg"),
    url("/footer-gradient.svg");
    background-position:
    center top, /* this positions the first image */
    center bottom; /* this positions the second image */
    background-repeat:
    no-repeat; /* this applies to both images */
  background-size: 1100px auto;
}

.navbar{
  padding: 40px 16px;
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    @media (max-width: $mobile-landscape){
      flex-direction: column;
    }
    .logo{
      img{
        height: 36px;
      }
    }
    .menu{
      @media (max-width: $mobile-landscape){
        margin-top: 24px;
      }
      ul{
        display: flex;
        li{
          margin-left: 8px;
          a{
            text-decoration: none;
            color: $black;
            padding: 12px;
          }
        }
      }
    }
  }
}


.header{
  .header-wrap{
    padding: 0 16px;
    padding-top: 48px;
    text-align: center;
    @media (max-width: $mobile-landscape){
      padding-top: 24px;
    }
    h1{
      font-size: 44px;
      font-weight: 700;
      letter-spacing: -2.5px;
      display: inline-block;
      line-height: 100%;
      padding: 12px 0;
      @media (max-width: $mobile-landscape){
        font-size: 34px;
        padding: 12px;
      }
    }
    h3{
      font-size: 17px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 0;
      text-transform: uppercase;
      line-height: 130%;
      @media (max-width: $mobile-landscape){
        line-height: 130%;
      }
      a{
        font-weight: 600;
        color: $black;
        &:hover{
          opacity: .7;
        }
      }
    }

    .assets{
      margin-top: 12px;
      h5{
        font-size: 14px;
        opacity: .5;
        letter-spacing: -.5px;
        margin-bottom: 8px;
      }
      .p-logo{
          display: flex;
          justify-content: center;
          img{
            margin: 8px;
            height: 24px;
          }
      }
    }
  }
}




.btn-lnks{
  margin-top: 24px;
  display: flex;
  padding: 12px 0;
  justify-content: center;
  @media (max-width: $mobile-landscape){
    flex-direction: column;
  }
  .dwn-links{
      position: relative;
      display: inline-block;
      vertical-align: top;
      z-index: 12;
      text-align: center;
      margin-right: 24px;
      @media (max-width: $mobile-landscape){
        margin-bottom: 24px;
        margin-right: 0;
      }
      .btn{

      }
      .btn-download{
        @media (max-width: $mobile-landscape){
          width: 100%;
        }
      }

      .dwn-list{
        z-index: 9;
        top: 0;
        left: 0;
        position: absolute;
        background: #fff;
        border-radius: 20px;
        width: 100%;
        overflow: hidden;
        height: 0;
        opacity: 0;
        border: 1px solid $black;
        -webkit-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        >li{
          text-align: left;
          a{
            font-size: 15px;
            font-weight: 700;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            margin: 0 16px;
            padding: 12px 0;
            display: flex;
            letter-spacing: -.5px;
            text-decoration: none;
            vertical-align: middle;
            align-items: center;
            text-align: center;
            color: $black;
            img{
              height: 28px;
              margin-right: 6px;
            }
            span{
              font-weight: 400;
              margin-left: 4px;
              color: $grey;
            }
            &:hover{
              color: rgba(0,0,0,.6);
            }
          }
          &:last-child{
            a{
              border: none;
            }
          }
        }
      }
      &:hover{
        overflow: visible;
        .dwn-list{
          overflow: visible;
          opacity: 1;
          top: calc(100%);
          height: auto;
        }
        .d-arrow{
          img{
            transform: scale(-1, -1);
          }
        }
      }
  }
}


.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px 24px;
  border-radius: 16px;
  h4{
    font-family: $space-grotesk;
    font-size: 22px;
    font-weight: 500;
  }
  span{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
  }
  &.btn-download{
    background: $black;
    border:1px solid $black;
    padding: 22px 75px;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 41px;
    z-index: 11;
    position: relative;
    h4{
      line-height: normal;
      font-weight: 600;
      color: $white;
    }
    span{
      font-size: 12px;
      margin-top: 6px;
      display: block;
      color: $white;
      opacity: .6;
    }
  }

  &.btn-outline{
    border: 1px solid $black;
    display: flex;
    vertical-align: middle;
    align-items: center;
    border-radius: 21px;
    padding: 12px 16px!important;
    img{
      height: 16px;
      margin-left: 6px;
    }
    &:hover{
      opacity: .8;
    }
  }
  &.btn-coffee{
    background: $white;
    border:1px solid rgba(0,0,0,1);
    padding: 22px 36px;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 41px;
    z-index: 8;
    position: relative;
    &.disable{
      background: rgba(200,200,200,.2);
      border-color: rgba(200,200,200,.8);
    }
    &.request{
      font-size: 20px;
    }
    @media (max-width: $mobile-landscape){
      margin-right: 0;
    }
    h4{
      line-height: normal;
      font-weight: 600;
      color: $black;
    }
    span{
      font-size: 12px;
      margin-top: 6px;
      display: block;
    }
    &:hover{

    }
  }
  &.btn-mesh{
    background: $white;
    border:1px solid rgba(0,0,0,1);
    padding: 22px 36px;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 41px;
    z-index: 8;
    position: relative;
    margin-right: 24px;
    &.disable{
      background: rgba(200,200,200,.2);
      border-color: rgba(200,200,200,.8);
    }
    &.request{
      font-size: 20px;
    }
    @media (max-width: $mobile-landscape){
      margin-right: 0;
      margin-bottom: 12px;
      display: none;
    }
    h4{
      line-height: normal;
      font-weight: 600;
      color: $black;
    }
    span{
      font-size: 12px;
      margin-top: 6px;
      display: block;
    }
    &:hover{

    }
  }
}

.styles-angle{
  background: rgba(248,248,252,.8);
  margin: 54px;
  border-radius: 24px;
  @media (max-width: $mobile-landscape){
    margin: 24px 0;
  }
  .s-a-wrap{
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-text{
      h2{
        font-weight: 700;
        letter-spacing: -1.7px;
        line-height: normal;
        font-size: 32px;
        margin: 8px 0;

      }

    }
    .img-box{
      display: flex;
      margin-top: 16px;
      flex-wrap: wrap;
      padding: 0 32px;
      .img-style{
        width: 25%;
        @media (max-width: $mobile-landscape){
          width: 50%;
        }
        .style-wrap{
          padding: 16px;
          img{
            width: 100%;
            margin-bottom: 16px;

          }
          h4{
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 4px;
          }
        }

      }
      &.angle{
        padding: 0!important;
        img{
          width: 100%;
        }
      }
    }

  }
}

.all-icons{
  .icons-wrap{
    display: flex;
    flex-direction: column;
    padding: 54px;
    align-items: center;
    @media (max-width: $mobile-landscape){
      padding: 4px;
    }
    h2{
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -2px;
      @media (max-width: $mobile-landscape){
        padding: 12px;
        text-align: center;
        font-size: 32px;
        margin-bottom: 2px;
      }
    }
    p{
      line-height: 120%;
      font-size: 18px;
      margin-bottom: 32px;
      margin-top: 20px;
      @media (max-width: $mobile-landscape){
        margin-top: 2px;
      }
    }
    .icons-grid{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      .icons-box{
        width: 20%;
        @media (max-width: $mobile-landscape){
          width: 50%;
        }
        .i-wrap{
          margin: 12px;
          padding: 16px;
          display: flex;
          height: auto;
          position: relative;
          background: rgba(248,248,252,.8);
          border-radius: 12px;
          a, div{
            display: flex;
            align-items: center;
            text-align: center;
            @media (max-width: $mobile-landscape){
            }
            img{
              height: 120px;
              width: 120px;
              @media (max-width: $mobile-landscape){
                height: 100%;
                width: 100%;
              }
            }
          }
          .img-ani{
            height: 120px;
            width: 120px;
            position: relative;
            .img-list{
              height: 120px;
              width: 120px;
              img{
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                -webkit-filter: drop-shadow(0 8px 32px rgba(0,0,0,.1));
                filter: drop-shadow(0 8px 32px rgba(0,0,0,.1));
                &.color{
                  opacity: 1;
                }
                &.clay{
                  opacity: 0;
                }
                &.premium{
                  opacity: 0;
                }
                &.gradient{
                  opacity: 0;
                }
              }
            }
            &:hover{
              img{
                animation-name: crossfadein;
                animation-iteration-count: infinite;
                transition-timing-function: linear;
                animation-duration: 5s;

              }
              img:nth-child(1){
                animation-delay: -4s;
              }
              img:nth-child(2){
                animation-delay: -3s;
              }
              img:nth-child(3){
                animation-delay: -2s;
              }
              img:nth-child(4){
                animation-delay: -1s;
              }
            }
          }

        }
      }
    }
  }
}

.footer{
  .footer-wrap{
    margin: 0 70px;
    @media (max-width: $mobile-landscape){
      margin: 0 40px;
    }
    .credit-box{
      padding: 32px 0;
      border-top: .5px solid $black;
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile-landscape){
        flex-direction: column;
      }
      .name{
        margin-bottom: 24px;
        p{
          font-size: 15px;
          font-weight: 400;
          a{
            color: $black;
            font-weight: 700;
            &:hover{
              opacity: .8;
            }
          }
        }
      }
    }
  }
}

.inaction{
  .ia-wrap{
    margin: 0 54px;
    display: flex;
    margin-top: 72px;
    flex-direction: column;
    align-items: center;
    @media (max-width: $mobile-landscape){
      margin: 0 16px;
      margin-bottom: 54px;
      margin-top: 40px;
    }
    p{
      width: 600px;
      text-align: center;
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 24px;
      @media (max-width: $mobile-landscape){
        width: 100%;
      }
    }
    a{
      font-weight: 700;

      line-height: 90%;
      .llnk{
        font-size: 20px!important;
      }
      &:hover{
        opacity: .8;
      }
      @media (max-width: $mobile-landscape){
        font-size: 16px;
      }
    }
    h2{
      font-size: 44px;
      font-weight: 700;
      letter-spacing: -2.5px;
      margin-bottom: 16px;
      @media (max-width: $mobile-landscape){
        padding: 12px;
        text-align: center;
        font-size: 32px;
        margin-bottom: 4px;
      }
    }

    .action-box{
      display: flex;
      flex-wrap: wrap;
      margin: 4px;
      .a-img-box{
        .a-img-wrap{
          padding: 12px;
        }
        &._4c{
          width: 25%;
          @media (max-width: $mobile-landscape){
            width: 100%;
          }
        }
        &._3c{
          width: 33.33%;
          @media (max-width: $mobile-landscape){
            width: 100%;
          }
        }
        &._2c{
          width: 50%;
          @media (max-width: $mobile-landscape){
            width: 100%;
          }
        }
        &._1c{
          width: 100%;
        }
        img{
          width: 100%;
          border-radius: 16px;
          border: .2px solid rgba(220,220,220,0.2);
          -webkit-box-shadow: 0 24px 32px rgba(0,0,0,.06);
          -moz-box-shadow: 0 24px 32px rgba(0,0,0,.06);
          box-shadow: 0 24px 32px rgba(0,0,0,.06);
        }
      }
    }
    .request-box{
      width: 100%;
      @media (max-width: $mobile-landscape){
        flex-direction: column;
        flex-direction: column-reverse;
      }
      margin-top: 48px;
      .r-box-wrapper{
        margin: 12px;
        display: flex;
        flex-direction: row;
        border: 1px solid $light-grey;
        border-radius: 24px;
        -webkit-box-shadow: 0 24px 48px rgba(0,0,0,.10);
        -moz-box-shadow: 0 24px 48px rgba(0,0,0,.10);
        box-shadow: 0 24px 48px rgba(0,0,0,.10);
        background: $white;
        align-items: center;
        @media (max-width: $mobile-landscape){
          flex-direction: column-reverse;
        }
        .r-text{
          width: 60%;
          text-align: left;
          vertical-align: middle;
          @media (max-width: $mobile-landscape){
            width: 100%;
          }
          .r-t-wrap{
            padding: 32px;
            padding-right: 48px;
            @media (max-width: $mobile-landscape){
              padding: 24px;
              padding-top: 0;
              text-align: center;

            }
            h2{
              font-size: 48px;
              font-weight: 700;
              line-height: 100%;
              letter-spacing: -3px;
              margin-bottom: 8px;
              @media (max-width: $mobile-landscape){
                font-size: 40px;
              }
            }
            p{
              font-size: 18px;
              line-height: 140%;
              margin-bottom: 24px;
              text-align: left;
              width: 100%;
              @media (max-width: $mobile-landscape){
                text-align: center;
                font-size: 17px;
              }
            }
          }
        }
        .r-img{
          width: 40%;
          @media (max-width: $mobile-landscape){
            width: 100%;
          }
          .r-im-wrap{
            padding: 36px;
            img{
              border-radius: 24px;
              width: 100%;
            }
          }
        }
      }

    }
  }
}

.about{
  .about-wrap{
    margin: 0 54px;
    padding: 48px 0;
    @media (max-width: $mobile-landscape){
      margin: 0 24px;
      padding-top: 32px;
    }

    .about-title{
      margin: 24px 100px;
      margin-top: 60px;
      padding-bottom: 32px;
      @media (max-width: $mobile-landscape){
        margin: 12px;
      }
      .about-icon{
        height: 100px;
      }
      h2{
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 24px;
        margin-top: 24px;
        @media (max-width: $mobile-landscape){
          font-size: 32px;
        }
      }
      ul{
        li{
          line-height: 120%;
          padding: 6px 0;
          display: flex;
          @media (max-width: $mobile-landscape){
            flex-direction: column;
          }
          .cost-lf{
            font-weight: 400;
            width: 27%;
            @media (max-width: $mobile-landscape){
              width: auto;
            }
          }
          .cost-rh{
            font-weight: 600;
          }
        }
      }
      p{
        font-size: 18px;
        font-weight: 300;
        line-height: 140%;
        margin-bottom: 24px;
        margin-top: 24px;
        @media (max-width: $mobile-landscape){
          font-size: 16px;
          font-weight: 400;
        }
        a{
          display: inline-block;
          line-height: 140%;
          margin: auto;
          .llnk{
            font-size: 20px!important;
          }
          @media (max-width: $mobile-landscape){
            font-size: 16px;
          }
        }
      }
      strong{
        font-weight: 500!important;
      }
      a{
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
        margin: 8px 0;
        display: block;
        @media (max-width: $mobile-landscape){
          font-size: 16px;
        }
        &:hover{
          opacity: .8;
        }
      }
    }
    .about-box{
      padding: 16px;
      text-align: left;
      h3{
        font-size: 28px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 12px;
        @media (max-width: $mobile-landscape){
          font-size: 22px;
        }
      }
      p{
        line-height: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 12px;
        @media (max-width: $mobile-landscape){
          font-size: 16px;
        }
      }
      a{
        font-weight: 500;

        line-height: 90%;
        .llnk{
          font-size: 20px!important;
        }
        &:hover{
          opacity: .8;
        }
        @media (max-width: $mobile-landscape){
          font-size: 16px;
        }
      }

    }
    .stats{
      padding: 16px;
      display: flex;
      justify-content: space-between;
      vertical-align: bottom;
      margin-top: 50px;
      @media (max-width: $mobile-landscape){
        flex-direction: column;
      }
      .soon-log{
        h4{
          font-size: 22px;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 12px;
        }
        ul{
          li{
            line-height: 150%;
            font-size: 15px;
          }
        }
      }
      .all-icons{
        text-align: right;
        display: flex;
        flex-direction: column;
        @media (max-width: $mobile-landscape){
          flex-direction: row;
          text-align: left;
        }
        .num-stat{
          margin: 12px 0;
          @media (max-width: $mobile-landscape){
            margin-right: 12px;
          }
          h3{
            font-size: 28px;
            font-weight: 700;
            line-height: normal;
          }
          span{
            font-size: 14px;
            opacity: .8;
            line-height: normal;
          }
        }
      }
    }
  }
}

.ph-float{
  position: fixed;
  bottom: 36px;
  left: 110px;
  @media (max-width: $mobile-landscape){
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 16px;
  }
  z-index: 111111;
}

.ad-float{
  position: fixed;
  bottom: 36px;
  right: 110px;
  z-index: 111114;
  @media (max-width: $mobile-landscape){
      display: none;
  }
  a{
    display: block;
    line-height: 0;
    img{
      max-width: 300px;
      border-radius: 8px;
      border: 1px solid #C1C1C1;
      line-height: normal;
    }
  }
}
