@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


// Variables

$g-sky: #4AB1F1;
$g-blue: #566CEC;
$g-pink: #D749AF;
$g-orange: #FF7C51;
$g-yellow: #F2B14D;
$g-green: #6BBBA6;

$black: #000000;
$white: #ffffff;
$lightbg: #EEE7D6;
$yellow: #F7C945;
$grey: #5F5F5F;
$blue: #0A72EF;
$red: #CA324F;
$light-grey: #353639;

$dark-bg: #1A1A1A;


// fonts
$space-grotesk: 'Space Grotesk', sans-serif;


//Reset
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
//End Reset

body{
  font-family: $space-grotesk;
}
